.certs-container {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    text-align: left;

    svg {
        color: white;
    }
}

.certs-container .certs-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
}